@charset "utf-8";

/* Common */
::selection { background: #b4d5f4; }
.section {
  position: relative;
  max-width: 100%;
  padding: 4rem 4rem 7rem 4rem;
  margin: auto;
}
.section-container {
  max-width: 120rem;
  margin: auto;
}
.space {
  width: 1px;
  height: 3rem;
  opacity: 0;
  background-color: #0061ad;
  transform: translate(0, -5rem);
  z-index:-10;
}
.clearfix {
  content: ""; 
  display: block;
  clear: both;
}

h2 {
  font-size: 4rem;
  font-weight: 700;
  text-align: center;
  color: #30475e;
}
h3 {
  font-size: 1.6rem;
  font-weight: 400;
  text-align: center;
  margin: 1rem 0;
  color: #3f597c;
}
.hide {
  position: absolute;
  left: -9999px;
}

/* HEADER */
.navbar {
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 7rem;
  background: transparent;
  transition: all 0.3s ease-in-out;
  overflow: hidden;
  z-index: 2;
}

.navbar.navbar-dark { 
  background: #30475e; 
}
.navbar .logo { margin: 0 2rem;}
.navbar .nav { margin: 0 2rem;}
.nav-menu { display: flex; }
.nav-menu .nav-menu-item {
  position: relative;
  padding: .8rem 1.2rem;
  margin: 0 .4rem;
  color: #eaf5ff;
}
.nav-menu .nav-menu-item span { display: inline-block; }
.nav-menu .nav-menu-item span::after {
  content: "";
  display: block;
  width: 0;
  height: 2px;
  margin: .5rem auto -.5rem auto;
  background: #e7dec8;
  transition: width 0.3s;
}
.nav-menu .nav-menu-item:hover { cursor: pointer; }
.nav-menu .nav-menu-item:hover span::after { width: 100%; }

.toggle-btn {
  width: 3.5rem;
  height: 3rem;
  position: fixed;
  top: 2rem;
  right: 2rem;;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  display: none;
}
.line {
  width: 100%;
  height: 3px;
  background: #fff;
  transition: all .4s;
}
.active .line-1 {
  transform: rotateZ(-45deg) translate(-5px, 3px);
}
.active .line-3 {
  transform: rotateZ(45deg) translate(-8px, -6px);
}
.active .line-2 {
  opacity: 0;
}

/* MAIN */
.main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 66.4rem;
  padding: 5rem 0;
  background: linear-gradient(to bottom, #e7dec8, #e7dec8 20%, #30475e 20%, #30475e 80%, #e7dec8 80%);
}
.main > .main-img > img {
  width: 40rem;
  height: 52rem;
}
.main > .main-text p {
  font: 900 8rem/1.2 'Roboto', sans-serif;
  color: #eaf5ff;
}
.main > .main-text span {
  font-weight: 400;
  color: #eaf5ff;
}

/* ABOUT ME */
.about .about-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 6rem 0;
  box-sizing: border-box;
}
.about-container .profile > img {
  width: 34rem;
}
.about-container .profile-info {
  font-weight: 700;
  color: #30475e;
}
.about-container .profile-info > li {
  line-height: 1.5;
  margin-bottom: 2rem;
}
.about-container .profile-info > li > span {
  display: inline-block;
  width: 5rem;
  margin: 0 0 0 -7rem;
}


/* ABILITY */
.ability {
  background: #e7dec8;
}
.abilityset {
  padding: 4rem 4rem;
  margin-top: 6rem;
  background: rgba(255, 255, 255, 0.5);
  box-sizing: border-box;
}
.ability-graph > li {
  display: flex;
  align-items: center;
  height: 4rem;
  margin-bottom: 2rem; 
}
.ability-graph > li:last-child { margin: 0; }
.ability-graph > li > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  line-height: 5rem;
  padding: 0 1rem;
  color: #fff;
  transition: all 0.5s;
  opacity: 0;
}
.graph-html > div  { background:#de4b25; }
.graph-css > div { background:#0061ad; }
.graph-jquery > div { background:#0097ff; }
.graph-javascript > div { background:#e9d54d; }

.ability-graph > li > div.on { opacity: 1; }
.graph-html > div.on { animation: graph1 2s 1; }
.graph-css > div.on { animation: graph2 2s 1; }
.graph-jquery > div.on { animation: graph3 2s 1; }
.graph-javascript > div.on { animation: graph4 2s 1; }

.abilityset .ability-desc {
  width: 100%;
  margin: 3rem 0 -3rem;
}
.abilityset .ability-desc li {
  font-size: 1.5rem;
  font-weight: 700;
  color: #333;
  margin-bottom: 2rem;
  line-height: 1.4;
}
.ability-desc li em { position: relative; }
.ability-desc li em.red { color: #de4b25; }
.ability-desc li em.blue { color: #0061ad; }
.ability-desc li em.yellow { color: #e9d54d; }
.ability-desc li em::before {
  content: '';
  display: inline-block;
  margin-right: .5rem;
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
}
.ability-desc li em.red::before { background: #de4b25; }
.ability-desc li em.blue::before { background: #0061ad; }
.ability-desc li em.yellow::before { background: #e9d54d; }


@keyframes graph1 {
  0% { width: 0; color: rgba(255, 255, 255, 0); }
  50% { color: rgba(255, 255, 255, 1);}
  100% { width: 90%; }
}
@keyframes graph2 {
  0% { width: 0; color: rgba(255, 255, 255, 0); }
  50% { color: rgba(255, 255, 255, 1);}
  100% { width: 80%; }
}
@keyframes graph3 {
  0% { width: 0; color: rgba(255, 255, 255, 0); }
  50% { color: rgba(255, 255, 255, 1);}
  100% { width: 50%; }
}
@keyframes graph4 {
  0% { width: 0; color: rgba(255, 255, 255, 0); }
  50% { color: rgba(255, 255, 255, 1);}
  100% { width: 50%; }
}

/* WORK */
.work-categories,
.work-projects
{
  text-align: center;
}
.work-categories { margin: 4rem; }
.category-btn {
  border: 1px solid #4d4d4d;
  background: #fff;
  border-radius: 8px;
  font-size: 1.6rem;
  padding: .8rem 3rem;
  margin-left: 1rem; 
  cursor: pointer;
  box-sizing: border-box;
  outline: none;
}
.category-btn.selected,
.category-btn:hover {
  background: #30475e;
  color:  #e7dec8;
}
.category-btn.selected .category_count,
.category-btn:hover .category_count {
  opacity: 1;
  top: 0;
}
.category_count {
  display: inline-block;
  position: relative;
  top: -2rem;
  width: 2rem;
  height: 2rem;
  line-height: 2rem;
  margin-left: .5rem;
  background: #f4a636;
  border-radius: 50%;
  color: #fff4e4;
  opacity: 0;
  transition: all .3s ease-in-out;
}
.work-projects {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  box-sizing: border-box;
  opacity: 1;
  transition: 0.4s ease-out;
}
.work-projects.ani-out {
  opacity: 0;
  transform: scale(0.96) translateY(40px);
}
.work-projects .project {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  /* margin: .6rem; */
  background: #ededed;
}
.project-wrap {
  display: flex;
  position: relative;
  width: 28rem;
  height: 25rem;
  margin: .6rem; 
  box-sizing: border-box;
  transition: all .5s;
}
.project-wrap.invisible { display: none;}

.project-description {
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  transform: translate(-50%, -50%);
  text-align: center;
  font-size: 1.6rem;
  line-height: 1.5;
  color: #fff;
  box-sizing: border-box;
  transition: opacity .5s;
  opacity: 0;
  z-index: 1;
}
.project-description { box-sizing: border-box; }
.project-description > h3 {
  font-size: 2rem;
  color: #fff;
}
.project-description span { display: inline-block; width: 90%; }
.project > img {
  width: 90%;
  height: auto;
}
.project-description .color { 
  font-weight: 700;
  color: #f4a636; 
}
.project-bg {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.6);
  opacity: 0;
  transition: opacity .5s;
}
.project-wrap::before,
.project-wrap::after {
  content: '';
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 95%;
  height: 95%;
  transform: translate(-50%, -50%);
  transition: all .8s;
}
.project-wrap::before {
  width: 0;
  border-top: 2px solid #fff;
  border-bottom: 2px solid #fff;
  z-index: 1;
}
.project-wrap::after {
  height: 0;
  border-left: 2px solid #fff;
  border-right: 2px solid #fff;
}
.project-wrap:hover .project-bg,
.project-wrap:hover .project-description { opacity: 1; }
.project-wrap:hover::before { width: 95%; }
.project-wrap:hover::after { height: 95%; }


/* Self Interview */
/* .self-interview { background: #f9f9f9; } */
.self-container { 
  position: relative;
  box-sizing: border-box;
}
.question {
  margin-bottom: 2rem;
  background: #ededed;
}
.self-wrap .tit {
  font-size: 1.8rem;
  padding: 1.5rem;
  color: #fff;
  background: #3f597c;
  cursor: pointer;
}
.self-wrap .con { 
  font-size: 1.6rem;
  color: #1b1b1b;
  padding: 2rem;
  line-height: 1.5;
  text-align: justify;
}
.self-container .btn-wrap {
  display: flex;
  justify-content: flex-end;
}
#btn-collapse,
#btn-open {
  width: 100px;
  height: 40px;
  font-size: 1.3rem;
  font-weight: 600;
  color: #333;
  margin: 0 0 2rem 1rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 0 0 10px rgba(0, 0, 0, .25);
}
#btn-collapse:hover,
#btn-open:hover {
  background: #e5e5e5;
}

/* CONTACT */
.contact {
  background: #e7dec8;
}
.contact-wrap {
  text-align: center;

}
.contact-list li {
  padding: 1.2rem 0; 
}
.contact-list li a {
  font-size: 2rem;
  color: #30475e;
}
.contact-list li a i {
  margin-right: .5rem;
}
.sns-list { margin-top: 1rem; }
.sns-list li { 
  display: inline-block;
  margin-left: 1rem;
}
.sns-list > li i {
  font-size: 3rem;
  color: #30475e;
}
.sns-list > li .naver:hover {
  color: #04cf5c;
}.sns-list > li .github:hover {
  color: #24292e;
}
/* FOOTER */
.footer {
  position: relative;
  text-align: center;
}
.footer p {
  color: #333;
}
#back-to-top {
  display: inline-block;
  position: fixed;
  bottom: 2em;
  right: 2em;
  padding: 1em;
  font-size: 1.4rem;
  font-weight: 700;
  text-transform: uppercase;
  color: #313943;
  background: rgba(255, 255, 255, .9);
  border-radius: 8px;
  box-shadow: 0 0 2em 0 rgba(0, 0, 0, .25);
  transition: all .3s ease-in-out;
  cursor: pointer;
  opacity: 0;
}
#back-to-top:hover {
  background-color: #fff;
  padding: 1.5em 1em;
}
#back-to-top.visible {
  opacity: 1;
}
.arrow-up {
  position: fixed;
  bottom: 5rem;
  right: 5rem;
  font-size: 2rem;
  line-height: 3rem;
  background: #30475e;
  color: #fff;
  border-radius: 50%;
  display: none;
}
.arrow-up.visible {
  display: block;
}

/* media 1024px */
@media screen and (max-width: 1024px) {
  .about-container .profile-info {
    max-width: 40rem;
  }
}

@media screen and (max-width: 870px) {
  .main {
    padding: 0;
  }
  .main > .main-img { padding: 0; }
  .main > .main-img > img {
    width: 30rem;
    height: 42rem;
  }
  .about-container .profile-info {
    max-width: 30rem;
  }
}

/* media 720px */
@media screen and (max-width: 720px) {

  .navbar { background: #30475e; }
  .navbar .logo {margin: 1rem; }
  .navbar .logo img { width: 5rem; height: 4.6rem;}
  .nav-wrap {
    position: fixed;
    top: 7rem;
    right: -80%;
    width: 80%;
    height: 100vh;
    background: rgba(48, 71, 94, 0.8);
    padding: 5%;
    box-sizing: border-box;
    transition: right .8s cubic-bezier(1, 0, 0, 1);
    display: none;
  }
  .nav-wrap.active { display: flex; right: 0; }
  .nav-menu {
    flex-direction: column;
    align-items: center;
  }
  .nav-menu .nav-menu-item { 
    font-size: 6rem;
    text-align: center;
    margin-bottom: 2rem;
  }
  .toggle-btn {
    display: flex;
  }

  .main-img {display: none;}

  .about .about-container {
    flex-direction: column;
  }
  .about-container .profile-info {
    padding: 3rem 0 0 6rem;
    text-align: justify;
  }
  .about-container .profile-info > li {
    line-height: 1.5;
    margin-bottom: 2rem;
  }
  .about-container .profile-info > li > span {
    display: inline-block;
    width: 5rem;
    margin: 0 0 0 -7rem;
  }

  .project-wrap { flex-grow: 1; }
  .project-wrap::before { width: 95%; }
  .project-wrap::after { height: 95%; }
  .project-bg { opacity: 0.8; }
  .project-description {
    font-size: 1.8rem;
    opacity: 1;
  }
  .project > img {
    width: 80%;
  }
  .project-description > h3 { font-size: 3rem; }
  
  .category-btn { margin: .5rem; }

  #btn-collapse,
  #btn-open {
  width: 80px;
  height: 30px;
  margin: 2rem 0 2rem 1rem;
}
}